# Use Customer_Segmentation Notebook Template

### Dataset information

#### CUSTOMER_ID 
Unique identifier for each customer.

#### BALANCE 
The outstanding balance amount of the customer’s credit card account.

#### BALANCE_FREQUENCY
The frequency of updating the balance, measured as a ratio.

#### PURCHASES
Total amount of purchases made by the customer.

#### ONE_OFF_PURCHASES
Total amount of one-off purchases made by the customer.

#### INSTALLMENT_PURCHASES
Total amount of purchases made in installments by the customer.

#### CASH_ADVANCE
Total amount of cash advances taken by the customer.

#### PURCHASES_FREQUENCY
Frequency of purchases made by the customer.

#### ONE_OFF_PURCHASES_FREQUENCY
Frequency of one-off purchases made by the customer.

#### PURCHASES_INSTALLMENTS_FREQUENCY
Frequency of purchases made in installments by the customer.

#### CASH_ADVANCE_FREQUENCY
Frequency of cash advances taken by the customer.

#### CASH_ADVANCE_TRX
Number of transactions for cash advances made by the customer.

#### PURCHASES_TRX
Number of transactions for purchases made by the customer.

#### CREDIT_LIMIT
The credit limit assigned to the customer’s credit card account.

#### PAYMENTS
Total amount of payments made by the customer.

#### MINIMUM_PAYMENTS
Minimum amount due as payment by the customer.

#### PRC_FULL_PAYMENT
Percentage of the full credit card bill paid by the customer.

In [1]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [2]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
#snowflake.get_connection()

# To get snowflake connection object with a specific connection name
snowflake.get_connection(connection_name="FDC_Insurance_Snowflake")

Exception occurred in getting snowflake connection: 'connectionSources'

In [3]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("CUSTOMER_TRANSACTION_MASTER")

In [4]:
df.shape

(122882, 27)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122882 entries, 0 to 122881
Data columns (total 27 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   CUSTOMER_ID                       122882 non-null  object
 1   DATE                              122882 non-null  object
 2   AGE                               122882 non-null  int8
 3   SEX                               122882 non-null  object
 4   EDUCATION_LEVEL                   122882 non-null  object
 5   EMPLOYMENT_STATUS                 122882 non-null  object
 6   HOBBIES                           122882 non-null  object
 7   MARITAL_STATUS                    122882 non-null  object
 8   DEPENDENTS                        122882 non-null  object
 9   REGISTRATION_DATE                 122882 non-null  object
 10  BANK_ACCOUNT_TYPE                 122882 non-null  object
 11  BALANCE                           122882 non-null  float64
 12  BALANCE_FREQUENCY                 122882 non-null  object
 13  CREDIT_LIMIT                      122882 non-null  float64
 14  CASH_ADVANCE                      122882 non-null  float64
 15  CASH_ADVANCE_FREQUENCY            122882 non-null  float64
 16  CASH_ADVANCE_TRX                  122882 non-null  float64
 17  PURCHASES                         122882 non-null  float64
 18  ONEOFF_PURCHASES                  122882 non-null  float64
 19  INSTALLMENTS_PURCHASES            122882 non-null  float64
 20  PURCHASES_FREQUENCY               122882 non-null  object
 21  ONEOFF_PURCHASES_FREQUENCY        122882 non-null  object
 22  PURCHASES_INSTALLMENTS_FREQUENCY  122882 non-null  object
 23  PURCHASES_TRX                     122882 non-null  float64
 24  PAYMENTS                          122882 non-null  float64
 25  MINIMUM_PAYMENTS                  122882 non-null  float64
 26  PRC_FULL_PAYMENT                  122882 non-null  float64
dtypes: float64(12), int8(1), object(14)
memory usage: 24.5+ MB

In [6]:
df.describe()

,AGE,BALANCE,CREDIT_LIMIT,CASH_ADVANCE,CASH_ADVANCE_FREQUENCY,CASH_ADVANCE_TRX,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
count,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000,122882.000000
mean,33.991284,1754.150353,4992.170999,1040.357561,0.138151,3.330813,1099.564457,664.464070,433.436971,15.651714,1905.326844,904.191004,0.144282
std,12.528331,2212.505505,3785.952399,2177.373457,0.203030,6.875069,2326.985730,1796.346935,968.862796,26.447019,3097.091529,2492.709290,0.283152
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,174.936826,1944.000000,0.000000,0.000000,0.000000,36.660000,0.000000,0.000000,0.940000,436.491025,169.036005,0.000000
50%,31.000000,1023.875197,3906.000000,0.000000,0.000000,0.000000,393.760000,70.850000,79.900000,7.360000,969.973369,336.723916,0.000000
75%,40.000000,2390.085192,6975.000000,1222.121879,0.230000,3.860000,1219.995600,674.375100,490.990500,18.630000,2088.197081,893.466612,0.107000
max,70.000000,20160.158820,30240.000000,47137.211760,1.500000,123.000000,49039.570000,43873.984800,22500.000000,378.230000,51154.352082,76406.207520,1.000000

In [8]:
df.tail()

,CUSTOMER_ID,DATE,AGE,SEX,EDUCATION_LEVEL,EMPLOYMENT_STATUS,HOBBIES,MARITAL_STATUS,DEPENDENTS,REGISTRATION_DATE,...,PURCHASES,ONEOFF_PURCHASES,INSTALLMENTS_PURCHASES,PURCHASES_FREQUENCY,ONEOFF_PURCHASES_FREQUENCY,PURCHASES_INSTALLMENTS_FREQUENCY,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT
122877,3a7ce3d5-0f4b-4575-badc-3553f5440c92,2023-05-01,32,MALE,High School,Unemployed,reading,Single,One Dependent,2020-03-12,...,684.4068,305.7313,339.07230,Very high,Low,Very high,21.20,273.352691,242.288921,0.0
122878,e2a8f308-57eb-4f55-bc13-399378f246d3,2022-12-01,27,MALE,PhD,Unemployed,camping,Single,One Dependent,2009-05-12,...,535.0963,0.0000,482.58685,Very high,Very low,Very high,25.92,474.722440,165.534652,0.0
122879,599c0e61-9bbc-4e14-bbfd-b07f5a398669,2022-12-01,33,FEMALE,High School,Unemployed,video-games,Single,One Dependent,2007-02-12,...,0.0000,0.0000,0.00000,Very low,Very low,Very low,0.00,568.542708,549.300475,0.0
122880,77298902-f899-4c3e-9104-06d1736fb089,2023-06-01,33,FEMALE,College,Unemployed,basketball,Single,One Dependent,2001-02-12,...,0.0000,0.0000,0.00000,Very low,Very low,Very low,0.00,517.588408,544.214360,0.0
122881,cd75294e-c31f-41b3-b78c-1d3e7322ddcf,2022-12-01,44,FEMALE,High School,Employed,exercise,Married,Two Dependents,2001-02-12,...,0.0000,0.0000,0.00000,Very low,Very low,Very low,0.00,1029.696570,1552.899035,0.0

In [10]:
cols = ['SEX','EDUCATION_LEVEL','EMPLOYMENT_STATUS','HOBBIES','MARITAL_STATUS','DEPENDENTS','PURCHASES_FREQUENCY','ONEOFF_PURCHASES_FREQUENCY','PURCHASES_INSTALLMENTS_FREQUENCY']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df[col].nunique())

------------------------------------------------
SEX  ->  2
------------------------------------------------
EDUCATION_LEVEL  ->  8
------------------------------------------------
EMPLOYMENT_STATUS  ->  4
------------------------------------------------
HOBBIES  ->  21
------------------------------------------------
MARITAL_STATUS  ->  4
------------------------------------------------
DEPENDENTS  ->  4
------------------------------------------------
PURCHASES_FREQUENCY  ->  5
------------------------------------------------
ONEOFF_PURCHASES_FREQUENCY  ->  5
------------------------------------------------
PURCHASES_INSTALLMENTS_FREQUENCY  ->  5

In [11]:
cols = ['SEX','EDUCATION_LEVEL','EMPLOYMENT_STATUS','HOBBIES','MARITAL_STATUS','DEPENDENTS','PURCHASES_FREQUENCY','ONEOFF_PURCHASES_FREQUENCY','PURCHASES_INSTALLMENTS_FREQUENCY']
for col in cols:
    print ("------------------------------------------------")
    print (col, " -> ",df[col].value_counts())

------------------------------------------------
SEX  ->  SEX
MALE      61596
FEMALE    61286
Name: count, dtype: int64
------------------------------------------------
EDUCATION_LEVEL  ->  EDUCATION_LEVEL
Undisclosed    61441
JD             10094
High School     9572
MD              8998
Associate       8950
Masters         8784
PhD             7620
College         7423
Name: count, dtype: int64
------------------------------------------------
EMPLOYMENT_STATUS  ->  EMPLOYMENT_STATUS
Unemployed       86196
Employed         26843
Retired           7327
Self-Employed     2516
Name: count, dtype: int64
------------------------------------------------
HOBBIES  ->  HOBBIES
Undisclosed       61441
kayaking           3170
movies             3161
board-games        3145
basketball         3135
hiking             3128
exercise           3102
paintball          3094
dancing            3093
yachting           3093
cross-fit          3080
chess              3068
polo               3064
golf               3055
bungie-jumping     3033
reading            3032
skydiving          3031
video-games        3030
sleeping           2993
base-jumping       2984
camping            2950
Name: count, dtype: int64
------------------------------------------------
MARITAL_STATUS  ->  MARITAL_STATUS
Single      88848
Married     25636
Widowed      7327
Divorced     1071
Name: count, dtype: int64
------------------------------------------------
DEPENDENTS  ->  DEPENDENTS
No Dependents               46988
One Dependent               44478
Two Dependents              25653
Three or More Dependents     5763
Name: count, dtype: int64
------------------------------------------------
PURCHASES_FREQUENCY  ->  PURCHASES_FREQUENCY
Very low     45466
Very high    40954
High         12640
Low          12461
Average      11361
Name: count, dtype: int64
------------------------------------------------
ONEOFF_PURCHASES_FREQUENCY  ->  ONEOFF_PURCHASES_FREQUENCY
Very low     82473
Low          13678
Very high    11977
Average       8009
High          6745
Name: count, dtype: int64
------------------------------------------------
PURCHASES_INSTALLMENTS_FREQUENCY  ->  PURCHASES_INSTALLMENTS_FREQUENCY
Very low     63923
Very high    27489
High         11107
Average      10347
Low          10016
Name: count, dtype: int64

In [12]:
df.isnull().sum()

CUSTOMER_ID                         0
DATE                                0
AGE                                 0
SEX                                 0
EDUCATION_LEVEL                     0
EMPLOYMENT_STATUS                   0
HOBBIES                             0
MARITAL_STATUS                      0
DEPENDENTS                          0
REGISTRATION_DATE                   0
BANK_ACCOUNT_TYPE                   0
BALANCE                             0
BALANCE_FREQUENCY                   0
CREDIT_LIMIT                        0
CASH_ADVANCE                        0
CASH_ADVANCE_FREQUENCY              0
CASH_ADVANCE_TRX                    0
PURCHASES                           0
ONEOFF_PURCHASES                    0
INSTALLMENTS_PURCHASES              0
PURCHASES_FREQUENCY                 0
ONEOFF_PURCHASES_FREQUENCY          0
PURCHASES_INSTALLMENTS_FREQUENCY    0
PURCHASES_TRX                       0
PAYMENTS                            0
MINIMUM_PAYMENTS                    0
PRC_FULL_PAYMENT                    0
dtype: int64