# Use Customer_Segmentation Notebook template

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

# Different ways to achieve Snowflake Connection

## 1. Code to establish connection using Config Parser and .ini file

In [2]:
config = configparser.ConfigParser()
config.read("credentials.ini")

['credentials.ini']

In [3]:
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": os.getenv('Snowflake_password'),
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

In [4]:
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [5]:
df = session.table("CUSTOMER_DATA_INSIGHT_TRAIN_OUTPUT")

In [6]:
df = df.to_pandas()

In [7]:
df.tail()

,CUSTOMER_ID,DATE,AGE,SEX,EDUCATION_LEVEL,EMPLOYMENT_STATUS,HOBBIES,MARITAL_STATUS,DEPENDENTS,REGISTRATION_DATE,...,PURCHASES_INSTALLMENTS_FREQUENCY,PURCHASES_TRX,PAYMENTS,MINIMUM_PAYMENTS,PRC_FULL_PAYMENT,CLUSTER,CLUSTER_TYPE,PREDICTION,REPORT_DATE,CLUSTER_ID
79995,01d68689-06f0-4d02-94e9-e860dc631c39,2022-04-01,33,MALE,College,Unemployed,chess,Single,One Dependent,2000-12-12,...,Very low,15.12,1858.996274,198.293611,0.0,0,Conservative Spenders,0,2022-04-01,CLUSTER_0
79996,f51a24f1-cacc-4637-813b-aef52bbb8d16,2023-11-01,33,FEMALE,MD,Unemployed,video-games,Single,One Dependent,2021-04-12,...,Very low,13.51,1929.815180,202.604342,0.0,0,Conservative Spenders,0,2023-11-01,CLUSTER_0
79997,83c3a4de-4346-47b0-bc8b-4171d72c68e0,2024-03-01,22,FEMALE,MD,Unemployed,movies,Single,No Dependents,1997-09-12,...,High,33.00,339.702306,175.285790,0.0,0,Conservative Spenders,0,2024-03-01,CLUSTER_0
79998,f741d69b-d623-4f7e-9cd1-01bf5c3b03fd,2023-03-01,22,MALE,Masters,Unemployed,movies,Single,No Dependents,2014-01-12,...,High,30.69,360.084444,187.555795,0.0,0,Conservative Spenders,0,2023-03-01,CLUSTER_0
79999,a892b7ae-4677-40a4-9771-c612892ec24c,2023-01-01,22,MALE,JD,Unemployed,chess,Single,No Dependents,2015-03-12,...,High,30.36,351.591887,161.262927,0.0,0,Conservative Spenders,0,2023-01-01,CLUSTER_0

In [8]:
df.shape

(80000, 32)

In [9]:
df.columns

Index(['CUSTOMER_ID', 'DATE', 'AGE', 'SEX', 'EDUCATION_LEVEL',
       'EMPLOYMENT_STATUS', 'HOBBIES', 'MARITAL_STATUS', 'DEPENDENTS',
       'REGISTRATION_DATE', 'BANK_ACCOUNT_TYPE', 'BALANCE',
       'BALANCE_FREQUENCY', 'CREDIT_LIMIT', 'CASH_ADVANCE',
       'CASH_ADVANCE_FREQUENCY', 'CASH_ADVANCE_TRX', 'PURCHASES',
       'ONEOFF_PURCHASES', 'INSTALLMENTS_PURCHASES', 'PURCHASES_FREQUENCY',
       'ONEOFF_PURCHASES_FREQUENCY', 'PURCHASES_INSTALLMENTS_FREQUENCY',
       'PURCHASES_TRX', 'PAYMENTS', 'MINIMUM_PAYMENTS', 'PRC_FULL_PAYMENT',
       'CLUSTER', 'CLUSTER_TYPE', 'PREDICTION', 'REPORT_DATE', 'CLUSTER_ID'],
      dtype='object')

In [10]:
to_retain = ['CUSTOMER_ID', 'AGE', 'EMPLOYMENT_STATUS', 'HOBBIES', 'MARITAL_STATUS', 
       'BANK_ACCOUNT_TYPE', 'BALANCE','CREDIT_LIMIT', 'CASH_ADVANCE',
       'PURCHASES','INSTALLMENTS_PURCHASES','PAYMENTS', 'CLUSTER_TYPE']

In [11]:
new_df = df[to_retain]

In [12]:
new_df.shape

(80000, 13)

In [ ]:
new_df.to_csv('/data/')

# 2 Using Inbuilt FosforIO package

In [2]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [3]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
#snowflake.get_connection()

# To get snowflake connection object with a specific connection name
snowflake.get_connection(connection_name="FDC_Insurance_Snowflake")

Exception occurred in getting snowflake connection: 'connectionSources'

In [4]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("CUSTOMER_MASTER_DIM")

In [6]:
df.tail()

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES
122877,985b3294-043a-4fc6-af11-b5957f319f3c,MALE,19,protective-serv,Masters,2023-07-12,kayaking
122878,8428f6d4-777b-4029-ba98-99696a9f8831,MALE,23,tech-support,Associate,2021-03-12,camping
122879,a5062f35-0ef7-4139-90c4-30a8dd605bf1,MALE,67,prof-specialty,MD,2021-04-12,reading
122880,7e48a5f0-c763-46b7-8c0a-2f1b194e120e,FEMALE,66,other-service,JD,2018-05-12,polo
122881,151b4a3e-7c7f-40f5-9662-1b89ca4d2951,MALE,42,adm-clerical,Masters,2020-07-12,basketball

# 3 Using Snowflake Snowpark

In [9]:
#Import all snowflake connection details from Template or Project variables.

db_user = os.getenv('Snowflake_user')
db_password =  os.getenv('Snowflake_password')
db_account = os.getenv('Snowflake_Account')
db_database =  os.getenv('Snowflake_Database')
db_role = os.getenv('Snowflake_user')
db_warehouse = os.getenv('Snowflake_Warehouse')
db_schema = os.getenv('Snowflake_Schema')

In [10]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session = Session.builder.configs(connection_params).create()

In [11]:
session.sql('use warehouse FOSFOR_SOLUTIONS_WH;').collect()
session.sql('use database FDC_Insurance;').collect()
session.sql('use schema FDC_Insurance.INS_CUST_SEGMT_SCHEMA;').collect()

df_customer = session.table('FDC_Insurance.INS_CUST_SEGMT_SCHEMA.CUSTOMER_MASTER_DIM').to_pandas()

In [12]:
df_customer.tail()

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES
122877,985b3294-043a-4fc6-af11-b5957f319f3c,MALE,19,protective-serv,Masters,2023-07-12,kayaking
122878,8428f6d4-777b-4029-ba98-99696a9f8831,MALE,23,tech-support,Associate,2021-03-12,camping
122879,a5062f35-0ef7-4139-90c4-30a8dd605bf1,MALE,67,prof-specialty,MD,2021-04-12,reading
122880,7e48a5f0-c763-46b7-8c0a-2f1b194e120e,FEMALE,66,other-service,JD,2018-05-12,polo
122881,151b4a3e-7c7f-40f5-9662-1b89ca4d2951,MALE,42,adm-clerical,Masters,2020-07-12,basketball