# Use Customer_Segmentation Notebook template

In [1]:
#Snowpark lib
from snowflake.snowpark import Session

# Data Science Libs
import numpy as np
import pandas as pd

# create_temp_table warning suppresion
import warnings; warnings.simplefilter('ignore')

#ConfigParser to read ini file
import configparser

# How to use Notebook Variables declared in customized template

In [2]:
import os
print (os.getenv('notebook_environment'))

PrPr

In [3]:
print (os.getenv('notebook_template'))

Customer_Segmentation

# How to use Project Parameters declared under Notebooks section

In [4]:
print (os.getenv('github_id'))

mhs10031990

In [5]:
print (os.getenv('github_repo_url'))

https://github.com/mhs10031990/Customer_Segmentation.git

# Different ways to achieve Snowflake Connection

## 1. Code to establish connection using Config Parser and .ini file

In [7]:
config = configparser.ConfigParser()
config.read("credentials.ini")

['credentials.ini']

In [8]:
connection_parameters = {
    "user": f'{config["Snowflake"]["user"]}',
    "password": os.getenv('Snowflake_password'),
    "account": f'{config["Snowflake"]["account"]}',
    "WAREHOUSE": f'{config["Snowflake"]["WAREHOUSE"]}',
    "DATABASE": f'{config["Snowflake"]["DATABASE"]}',
    "SCHEMA": f'{config["Snowflake"]["SCHEMA"]}'
}

In [9]:
def snowflake_connector(conn):
    try:
        session = Session.builder.configs(conn).create()
        print("connection successful!")
    except:
        raise ValueError("error while connecting with db")
    return session

session = snowflake_connector(connection_parameters)

connection successful!

In [10]:
df = session.table("CUSTOMER_MASTER_DIM")

In [11]:
df = df.to_pandas()

In [7]:
df.tail()

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES
122877,985b3294-043a-4fc6-af11-b5957f319f3c,MALE,19,protective-serv,Masters,2023-07-12,kayaking
122878,8428f6d4-777b-4029-ba98-99696a9f8831,MALE,23,tech-support,Associate,2021-03-12,camping
122879,a5062f35-0ef7-4139-90c4-30a8dd605bf1,MALE,67,prof-specialty,MD,2021-04-12,reading
122880,7e48a5f0-c763-46b7-8c0a-2f1b194e120e,FEMALE,66,other-service,JD,2018-05-12,polo
122881,151b4a3e-7c7f-40f5-9662-1b89ca4d2951,MALE,42,adm-clerical,Masters,2020-07-12,basketball

In [13]:
df.shape

(122882, 7)

# 2 Using Inbuilt FosforIO package

In [2]:
from fosforio import snowflake

Connection manager service url initialised to http://fdc-project-manager:80/project-manager
If you need to update its value then update the variable CONNECTION_MANAGER_BASE_URL in os env.

In [3]:
# To get snowflake connection object with a default snowflake connection created by the user, if available.
#snowflake.get_connection()

# To get snowflake connection object with a specific connection name
snowflake.get_connection(connection_name="FDC_Insurance_Snowflake")

Exception occurred in getting snowflake connection: 'connectionSources'

In [4]:
# To read a specific dataset published from a snowflake connection
df = snowflake.get_dataframe("CUSTOMER_MASTER_DIM")

In [6]:
df.tail()

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES
122877,985b3294-043a-4fc6-af11-b5957f319f3c,MALE,19,protective-serv,Masters,2023-07-12,kayaking
122878,8428f6d4-777b-4029-ba98-99696a9f8831,MALE,23,tech-support,Associate,2021-03-12,camping
122879,a5062f35-0ef7-4139-90c4-30a8dd605bf1,MALE,67,prof-specialty,MD,2021-04-12,reading
122880,7e48a5f0-c763-46b7-8c0a-2f1b194e120e,FEMALE,66,other-service,JD,2018-05-12,polo
122881,151b4a3e-7c7f-40f5-9662-1b89ca4d2951,MALE,42,adm-clerical,Masters,2020-07-12,basketball

# 3 Using Snowflake Snowpark

In [9]:
#Import all snowflake connection details from Template or Project variables.

db_user = os.getenv('Snowflake_user')
db_password =  os.getenv('Snowflake_password')
db_account = os.getenv('Snowflake_Account')
db_database =  os.getenv('Snowflake_Database')
db_role = os.getenv('Snowflake_user')
db_warehouse = os.getenv('Snowflake_Warehouse')
db_schema = os.getenv('Snowflake_Schema')

In [10]:
from snowflake.snowpark.session import Session
connection_params = {
    'user': db_user,
    'password': db_password,
    'account': db_account,
    'warehouse': db_warehouse,
    'database': db_database,
    'schema': db_schema,
    'role': db_role
}
session = Session.builder.configs(connection_params).create()

In [11]:
session.sql('use warehouse FOSFOR_SOLUTIONS_WH;').collect()
session.sql('use database FDC_Insurance;').collect()
session.sql('use schema FDC_Insurance.INS_CUST_SEGMT_SCHEMA;').collect()

df_customer = session.table('FDC_Insurance.INS_CUST_SEGMT_SCHEMA.CUSTOMER_MASTER_DIM').to_pandas()

In [12]:
df_customer.tail()

,CUSTOMER_ID,SEX,AGE,OCCUPATION,EDUCATION_LEVEL,REGISTRATION_DATE,HOBBIES
122877,985b3294-043a-4fc6-af11-b5957f319f3c,MALE,19,protective-serv,Masters,2023-07-12,kayaking
122878,8428f6d4-777b-4029-ba98-99696a9f8831,MALE,23,tech-support,Associate,2021-03-12,camping
122879,a5062f35-0ef7-4139-90c4-30a8dd605bf1,MALE,67,prof-specialty,MD,2021-04-12,reading
122880,7e48a5f0-c763-46b7-8c0a-2f1b194e120e,FEMALE,66,other-service,JD,2018-05-12,polo
122881,151b4a3e-7c7f-40f5-9662-1b89ca4d2951,MALE,42,adm-clerical,Masters,2020-07-12,basketball